footer { font-size: 90%; }

body {
	background-color: #292a2d;
	color: white;
}

a {
  color: #008000;
}

header {
  background: #008000;
  border-bottom: none;
}


table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
  border-left: 1px solid #666;
  background: #3F3F3F;
}

table thead th { border-bottom: 1px solid #666; }

th, td { padding: 5px; }

tr:nth-child(even) { background: #666 }

blockquote {
  background: #393E41;
}

.article-meta, .menu a {
  background: #393E41;
  color: white;
}

footer a { color: white;}

footer a:hover { 
	color: green;
	text-decoration: none;
}

